<footer class="site-footer">
  <div class="wrap site-footer__inner">
    <div class="site-footer__meta">
      <p class="site-footer__license">
        <a href="{{ site.Params.licentieURL }}" rel="license external">
          <img src="{{ "images/cc-by-sa.png" | relURL }}" alt="Creative Commons Naamsvermelding-GelijkDelen 4.0" width="88" height="31">
        </a>
        <span>Deze publicatie valt onder <a href="{{ site.Params.licentieURL }}" rel="license external">{{ site.Params.licentie }}</a>. Gepubliceerd via GitHub Pages.</span>
      </p>
    </div>
  </div>
</footer>
