<a class="skip-link" href="#content">Direct naar inhoud</a>
<header class="site-header">
  <div class="wrap site-header__inner">
    <a class="brand" href="{{ site.Home.RelPermalink }}" aria-label="Twiin Landelijk afsprakenstelsel | Index, naar home">
      <img class="header-logo" src="{{ "images/twiin-logo.png" | relURL }}" alt="Twiin" width="96" height="42">
    </a>
    <nav class="site-nav" aria-label="Hoofdnavigatie">
      <a href="https://www.twiin.nl">Twiin</a>
      <a href="https://twiin.codeberg.page/playground/">Afsprakenstelsel</a>
      <a href="https://ontwikkelsupplement.twiin.nl/actueel">Ontwikkelsupplement</a>
      <a href="https://changemanagement.twiin.nl">Changemanagement</a>
    </nav>
    <button class="theme-toggle" type="button" aria-label="Wissel licht/donker thema" title="Wissel thema">◑</button>
  </div>
</header>
